---
import BusinessCard from "../components/BusinessCard.astro";
import Gradient from "../components/Gradient.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brendan Fuller | About">
  <h1 class="mb-0">About</h1>

  <div class="mt-5 text-2xl">
    <img
      src="/brendan-fuller.png"
      width="120"
      height="120
	"
      alt="Picture of Brendan Fuller"
      class="float-left mr-5"
    /><p class="" style="font-size: 20px;">
      Hey, I'm Brendan Fuller. My skill sets involve Fullstack web development
      primarly in the NodeJS workflows with Typescript. I have a wide range of
      skillsets, from hardware to software mangement. I graduated with a
      bachelor degree of Computer Information Systems from Saginaw Valley State
      University, with a minor in Business. In my free time, I endevour in
      gaming, 3d printing, micro controllers, and walking.
    </p>
  </div>
</Layout>
