@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

/* markdown styles */
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: Merriweather, Times New Roman, Times, serif;
  margin-top: 2rem;
  font-weight: 800;
  line-height: 1.45em;

  @apply text-[#4a4a4a] dark:text-white hover:underline relative dark:text-[#c7c7c7] dark:bg-zinc-900;
}
h1,
h2,
h3 {
  margin: 0.2em 0 1em 0;
}
h4,
h5,
h6 {
  margin: 1em 0 0.5em 0;
}
h1 {
  font-size: 2.2rem !important;
}
h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1.8rem !important;
}
h4 {
  font-size: 1.6rem !important;
}
h5 {
  font-size: 1.4rem !important;
}
h6 {
  font-size: 1.2rem !important;
}
blockquote {
  border-left: 3px solid gray;
  padding: 0.1em 15px;
}
article {
  color: #ddd;
}

article p {
  line-height: 2;
  font-size: 1.3rem;
  margin-bottom: 1.8rem;

  position: relative;
  @apply text-[#4a4a4a] dark:text-white;
}

article p strong {
  @apply text-red-400 font-bold;
}

.font-roboto {
  font-family: Roboto, san-serif;
}

ul {
  list-style-type: square;
  display: block;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 40px;
  padding-inline-start: 40px;
  @apply text-[#4a4a4a] dark:text-[#ddd];
}

ol {
  list-style-position: inside;
  @apply text-[#4a4a4a] dark:text-[#ddd];
}

blockquote {
  margin-top: 15px;
  border-left: 3px solid gray;
  padding-left: 10px;
  padding-bottom: 0px;
  margin: 0px;
  margin-left: 1em;
}

/* Article Styles */

#article-header {
  margin-bottom: 30px;
}
#article-meta {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1rem !important;
  font-family: "Roboto", sans-serif;
}
#article-title {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  line-height: 1.45em;
  @apply text-[#4a4a4a] dark:text-white;
}
#article-description {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: gray;
}

/* Custom Attributes */

.icon {
  margin-right: 10px;
  top: -10px;
  display: inline-block;
}

.heading-link {
  @apply hover:underline;
}

.heading-icon {
  display: inline-block;
  margin-left: 5px;
}

.toc-sidebar {
  @apply p-[5px] w-[20rem] -ml-[24rem]  rounded-md sticky float-left top-[1em] dark:bg-zinc-700;
  font-size: 1rem;
  background: #e4e4e4;
  font-family: Roboto, san-serif;
  font-weight: 400;
  background-color: rgb(228, 228, 228);
}

@media (prefers-reduced-motion: reduce) {
  :global(html) {
    scroll-behavior: auto;
  }
}
