---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}s
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<script is:inline>
	const theme = (() => {
	  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
		return localStorage.getItem("theme");
	  }
	  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		return "dark";
	  }
	  return "light";
	})();
  
	if (theme === "light") {
	  document.documentElement.classList.remove("dark");
	} else {
	  document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
  </script>