<div class="gradient"></div>
<style>
  .gradient {
    width: 100%;
    height: 10px;
    display: fixed;
    top: 0px;
    background: #49b649;
    background: linear-gradient(
      90deg,
      #49b649 0%,
      rgba(0, 212, 255, 0.8015581232492998) 53%,
      #ffa500 99%
    );
  }
</style>
