---
import ThemeToggle from "./ThemeToggle";
---

<div class="mt-10 flex">
  <div class="grow">
    <a href="/" class="underline">Home</a> • <a href="/about/" class="underline"
      >About</a
    > • <a href="/projects/" class="underline">Projects</a> - brendanfuller.com
  </div>
  <div>
    <ThemeToggle client:load />
  </div>
</div>
