---
import ThemeToggle from "./ThemeToggle";
---

<div class="mt-4 flex">
  <div class="grow">
    <a href="/" class="underline">Brendan Fuller</a> - <a
      href="/about/"
      class="underline">About</a
    > - <a href="/projects/" class="underline">Projects</a>
  </div>
  <div>
    <ThemeToggle client:load />
  </div>
</div>
